<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="RESTAPI">
    <classes>
      <class name="MavenFramework.Jirabasics4"/>
      <class name="MavenFramework.Jirabasics"/>
      <class name="MavenFramework.Jirabasics3"/>
      <class name="MavenFramework.basicsdeleteXML"/>
      <class name="MavenFramework.basics2post"/>
      <class name="MavenFramework.Jirabasics2"/>
      <class name="MavenFramework.basics2"/>
      <class name="MavenFramework.basicsdelete2"/>
      <class name="MavenFramework.basics"/>
      <class name="MavenFramework.basicsdelete"/>
    </classes>
  </test> <!-- RESTAPI -->
</suite> <!-- Suite -->
